extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method="get", action="/")
    input(type="text", name="dirpath")
    button(type="submit") Submit path

  table
    tr
      th Name
      th Size (kb)
    each line in response
      tr
        th= line.name
        th= line.size

